[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "==19.3b0"

[packages]
django = "*"
markdown = "*"
gunicorn = "*"
django-heroku = "*"
django-filter = "*"
django-tables2 = "*"
django-bootstrap4 = "*"

[requires]
python_version = "3.7"
