{% extends "dashboard/base.html" %}
{% load render_table from django_tables2 %}

{% block title %}
Orders
{% endblock title %}

{% block content %}


<!-- Content Row -->
<div class="row">
    
    <!-- Total Order Count Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Orders</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ table.rows|length }}</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-utensils fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Entree Count Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Net Sales</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ net_sales }}</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Customer Table Card -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Customers</h6>
        </div>

        <div class="card-body">
            {% render_table table %}
        </div>

    </div>
</div>
{% endblock content %}


